<div class="header">
  <h2 id="logo"><%= link_to "Wikipedia" , articles_path %></h2>
  <h3><%= link_to "Add new Article", new_article_path %></h3>
</div>
<div class="content">
  <h1 class="title" id="title"><%= @article.title %> <small><%= link_to article_path(@article),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  do %>
    <i class="fa-solid fa-trash"></i>
<% end %></small><small><%= link_to edit_article_path(@article) do %>
    <i class="fa-solid fa-pencil"></i></i>
<% end %></small></h1>
  <h3 id="content"><%= @article.content %></h3>
</div>
